body {
  background-color: black;
}

#istruzioni {
  text-align: center;
  margin: 7rem;
}
#istruzioni h1, #istruzioni p {
  color: white;
}
#istruzioni p {
  font-size: 30px;
}

button {
  margin-top: 3rem;
  height: 100px;
  width: 100px;
  border-radius: 2em;
  font-size: 25px;
}

/* stile parti del gioco */
.shape {
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: absolute;
}
.shape:hover {
  filter: brightness(150%);
}

#gioco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#alert {
  position: absolute;
  height: 700px;
  width: 765px;
  top: 1000px;
  z-index: 1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 2em;
  border-color: red;
  background-color: antiquewhite;
  transition: 3s;
}
#alert p:first-child {
  text-align: center;
  margin: 3rem;
  font-size: 50px;
}
#alert p:nth-child(2) {
  text-align: start;
  margin: 3rem;
  font-size: 30px;
}

#shapes {
  z-index: 2;
  border-style: solid;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  height: 1200px;
  width: 765px;
  border-color: green;
  border-width: 10px;
  font-size: 40px;
}
#shapes div:first-child {
  color: red;
  font-size: 40px;
}
#shapes div:last-child {
  color: red;
  font-size: 40px;
}

/* health bar */
#health {
  margin-top: 3rem;
  margin-left: 7.5rem;
  /*     border-style: dashed;
      border-color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
#health #pos {
  position: relative;
  background-color: green;
  height: 30px;
  width: 300px;
  border-radius: 3em;
  align-self: center;
  transition: 1s;
  /* animation: 1s danno; */
}
#health #neg {
  height: 35px;
  width: 305px;
  position: absolute;
  left: 55px;
  border-style: solid;
  border-radius: 3em;
  border-color: white;
}
#health p {
  align-self: center;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
}

#out {
  margin-top: 5rem;
  text-align: center;
}
#out p {
  color: white;
  font-size: 70px;
  font-family: "Parisienne", cursive;
  transition: 1s;
}

@-webkit-keyframes danno {
  0% {
    background-color: green;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}

@keyframes danno {
  0% {
    background-color: green;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
/* stile per cubi */
.scene {
  z-index: 3;
  width: 100px;
  height: 100px;
  perspective: 1000px;
}
.scene .cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.scene .cube .cube__face {
  filter: opacity(0.5);
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 3px;
}
.scene .cube .cube__face--front {
  transform: rotateY(0deg);
}
.scene .cube .cube__face--right {
  transform: rotateY(90deg);
}
.scene .cube .cube__face--back {
  transform: rotateY(180deg);
}
.scene .cube .cube__face--left {
  transform: rotateY(-90deg);
}
.scene .cube .cube__face--top {
  transform: rotateX(90deg);
}
.scene .cube .cube__face--bottom {
  transform: rotateX(-90deg);
}
.scene .cube .cube__face--front {
  transform: rotateY(0deg) translateZ(50px);
}
.scene .cube .cube__face--right {
  transform: rotateY(90deg) translateZ(50px);
}
.scene .cube .cube__face--back {
  transform: rotateY(180deg) translateZ(50px);
}
.scene .cube .cube__face--left {
  transform: rotateY(-90deg) translateZ(50px);
}
.scene .cube .cube__face--top {
  transform: rotateX(90deg) translateZ(50px);
}
.scene .cube .cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50px);
}/*# sourceMappingURL=style.css.map */